doctype html
html(xmlns:th='http://www.thymeleaf.org', xmlns:tiles='http://www.thymeleaf.org')
    head
        include ../../jade-mixins/mixins.jade
        +head-text('New user')
    body
        object(th:include='fragments/layout :: styles', th:remove='tag')
        .container
            .outer
                .inner
                    .centered
                        form.form-signin(th:object='${user}', method='POST', th:action='@{/user/saveaccount}', enctype='utf8', data-toggle='validator')
                            .logo.logo-login
                                i.fa.fa-paper-plane
                                strong.text-left
                                    small the
                                    b Flow
                            h2.form-signin-heading.text-center(th:text!='\#{label.form.title}')
                            .form-group
                                label(th:text!='\#{label.user.firstName}')
                                input#firstName.form-control(type='text', th:placeholder='\#{label.user.firstName}', th:field='*{firstName}', required='')
                                .help-block.with-errors
                                .with-errors(th:if="${#fields.hasErrors('firstName')}", th:errors='*{firstName}')
                            .form-group
                                label(th:text!='\#{label.user.lastName}')
                                input#lastName.form-control(type='text', th:placeholder='\#{label.user.lastName}', th:field='*{lastName}', required='')
                                .help-block.with-errors
                                .with-errors(th:if="${#fields.hasErrors('lastName')}", th:errors='*{lastName}') Name Error
                            .form-group
                                label(th:text!='\#{label.user.company.name}')
                                input#companyName.form-control(type='text', th:placeholder='\#{label.user.company.name}', th:field='*{companyName}', required='')
                                .help-block.with-errors
                                .with-errors(th:if="${#fields.hasErrors('companyName')}", th:errors='*{companyName}') Name Error
                            .form-group
                                label(th:text!='\#{label.user.company.alias}')
                                input#companyAlias.form-control(type='text', placeholder='Company alias', th:field='*{companyAlias}', required='')
                                .help-block.with-errors
                                .with-errors(th:if="${#fields.hasErrors('companyAlias')}", th:errors='*{companyAlias}') Name Error
                            .form-group
                                label(th:text!='\#{label.user.email}')
                                input#email.form-control(type='text', th:placeholder='\#{label.user.email}', th:field='*{email}', required='')
                                .help-block.with-errors
                                .with-errors(th:if="${#fields.hasErrors('email')}", th:errors='*{email}') Name Error
                            .form-group
                                label(th:text!='\#{label.user.password}')
                                input#password.form-control(type='password', th:placeholder='\#{label.user.password}', th:field='*{password}', required='')
                                .help-block.with-errors
                                .with-errors(th:if="${#fields.hasErrors('password')}", th:errors='*{password}') Name Error
                            .form-group
                                label(th:text!='\#{label.user.confirmPass}')
                                input#passwordconfirm.form-control(type='password', data-match='#password', th:placeholder='\#{label.user.confirmPass}', th:field='*{matchingPassword}', required='')
                                .help-block.with-errors
                                .with-errors(th:if="${#fields.hasErrors('password')}", th:errors='*{password}') Name Error
                            .row.buttons-row
                                .col-md-4
                                    a.fancy-button.medium.asbestos.basic.login-button.text-center(th:href='@{/login}') Sign in
                                        span.icon
                                            i.fa.fa-paper-plane
                                .col-md-4
                                    button.fancy-button.medium.blueHole.basic.login-button(type='submit') Submit
                                        span.icon
                                            i.fa.fa-user-plus
                                .col-md-4
                                    a.fancy-button.medium.asbestos.basic.login-button.text-center(th:href='@{/index}') Home
                                        span.icon
                                            i.fa.fa-home
        object(th:include='fragments/layout :: script', th:remove='tag')
